
.goUp{
    display: none;
}

.goUpAppear{
    font-size: 2em;
    display: inline;
    position: fixed;
    margin: 2% 4% 3% 5%;
    width: fit-content;
    color: rgb(155, 24, 231);
    box-shadow: 0 0 10px 3px rgba(87, 87, 87, 0.5);
    z-index: 100;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    background-color: white;
}

.goUp .icons{
    padding: 5px 12px;
}





@media screen and (max-width: 480px){
    .goUpAppear{
        font-size: 1.4em;
    }

    .goUp .icons{
        padding: 5px 10px;
    }
}